@{
    Layout = "~/Views/_LayoutPage.cshtml";
}
<h2 class="sub-header">@ViewBag.Title</h2>
<style>
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
</style>
<p>共找到： @ViewBag.Count 条数据</p>
<nav><ul class="pagination pagination-demo pagination-sm"></ul></nav><div class="table-responsive">

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>IP地址</th>
                <th>Time</th>
                <th>Class</th>
                <th>内容</th>
            </tr>
        </thead>
        <tbody>
            @{
    foreach (var item in ViewBag.ZFTList)
    {
        <tr data-time="@item.Time" data-class="@item.Class" data-ip="@item.Ip" data-description="@Html.Encode(item.Description)" data-iserrorlog="@item.IsErrorLog" data-logid="@item._id" class="zft-tr">
            @{if (item.IsErrorLog)
            {
                <th><span class="glyphicon glyphicon-remove"></span>&nbsp;</th>
            }
            else
            {
                <th><span class="glyphicon glyphicon-ok"></span>&nbsp;</th>
            }
            }
            <th>@item.Ip</th>
            <th>@item.Time</th>
            <th>@item.Class</th>
            <th>@(item.Description.Substring(item.Description.IndexOf('-') + 1, item.Description.Length - item.Description.IndexOf('-') - 1))</th>
        </tr>
    }
}
        </tbody>
    </table>
    <ul class="pagination pagination-demo"></ul>
</div>

@section script{
    <link href="~/Scripts/dialog/css/bootstrap-dialog.min.css" rel="stylesheet" />
    <script src="~/Scripts/dialog/js/bootstrap-dialog.min.js"></script>
    <script src="~/Scripts/jqPaginator.min.js"></script>
    <script>

        var list = list || {};
        (function () {
            $(document).ready(function () {
                $('#@ViewBag.ActiveId').addClass('active');
                list.click();
                list.page();
                list.str='';
            });
            list.click = function () {
                $('.zft-tr').on('click', function (e) {
                    var self = this,
                        time = $(self).attr('data-Time'),
                        ip = $(self).attr('data-ip'),
                        clas = $(self).attr('data-class'),
                        description = $(self).attr('data-description'),
                        ex=$(self).attr('data-ex'),
                        id=$(self).attr('data-logid');
                    list.getBeforeLog(id,{ip:ip,clas:clas,description:description})

                });
            };
            list.page = function(){
                $(".pagination-demo").jqPaginator({
                    totalCounts: @ViewBag.Count,
                    pageSize: @ViewBag.PageSize,
                    visiblePages: 10,
                    currentPage: @ViewBag.Page,
                    first: '<li class="first"><a href="?p=1">首页<\/a><\/li>',
                    prev: '<li class="prev"><a href="?p={{page}}">上一页<\/a><\/li>',
                    next: '<li class="next"><a href="?p={{page}}">下一页<\/a><\/li>',
                    last: '<li class="last"><a href="?p={{totalPages}}">末页<\/a><\/li>',
                    page: '<li class="page"><a href="?p={{page}}">{{page}}<\/a><\/li>',
                    onPageChange: function (n) {
                        $(".pagination-demo .disabled").each(function(){
                            $(this).find('a').attr('href','#');
                        })
                    }
                });
            };
            list.getBeforeLog = function(id,op){
                var resultStr = []
                $.get('/api/InsertLog/BeforeLogs?id='+ id + '&logname=@ViewBag.actionName').then(function(data){
                    data.forEach(function(x){
                        resultStr.push(x.Description)
                    })
                    return resultStr.join('\n')
                }).then(function(resp){
                    list.str = resp
                    list.showDilog(op.time,op.ip,op.clas,op.description)
                })
            }
            list.showDilog = function(time,ip,clas,description){
                textAndPic = $('<div></div>');
                textAndPic.append('<b>时间：</b>' + time + '</br><hr>');
                textAndPic.append('<b>ip地址：</b>' + ip + '</br><hr>');
                textAndPic.append('<b>类名：</b>' + clas + '</br><hr>');
                textAndPic.append('<b>附加信息：</b><pre>' + description + '</pre></br>');
                textAndPic.append('<b>前5条日志：</b><pre>' + list.str + '</pre></br><hr>');
                BootstrapDialog.show({
                    title: '日志详情',
                    message: textAndPic,
                    buttons: [{
                        label: '关闭',
                        action: function (dialogItself) {
                            dialogItself.close();
                        }
                    }],
                    onshown: function () {
                        $('.modal-content').css('overflow-y', 'auto');
                    }
                });
            }
        })();
    </script>
}

