
@{
    ViewBag.Title = "总体";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h1 class="page-header">总体</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-6 placeholder">
        <div id="wxback" style="height:250px"></div>
        <h4>微信后台</h4>
    </div>
    <div class="col-xs-6 col-sm-6 placeholder">
        <div id="front" style="height:250px"></div>
        <h4>微信前端</h4>
    </div>
    <div class="col-xs-6 col-sm-6 placeholder">
        <div id="wxabc" style="height:250px"></div>
        <h4>特色交易</h4>
    </div>
</div>

@section script{
<script src="~/Scripts/dist/echarts.js"></script>
<script type="text/javascript">
    $('#1').addClass('active');
    // 路径配置
    require.config({
        paths: {
            echarts: '../Scripts/dist'
        }
    });
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/pie' // 按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var pad = ec.init(document.getElementById('wxback'));
            var cvept = ec.init(document.getElementById('front'));
            var wxabc = ec.init(document.getElementById('wxabc'));

            var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['正常日志', '异常日志']
                },

                series: [
                    {
                        name: '日志数量',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            }
                        },
                        data: [
                            { value: @ViewBag.Wxback, name: '正常日志' },
                            { value: @ViewBag.WxbackError, name: '异常日志' }
                        ]
                    }
                ]
            };

            var option1 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['正常日志', '异常日志']
                },
                series: [
                    {
                        name: '日志数量',
                        type: 'pie',
                        legendHoverLink: false,
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: @ViewBag.Front, name: '正常日志' },
                            { value: @ViewBag.FrontError, name: '异常日志' }
                        ]
                    }
                ]
            };
            var option2 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['正常日志', '异常日志']
                },
                series: [
                    {
                        name: '日志数量',
                        type: 'pie',
                        legendHoverLink: false,
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: @ViewBag.Wxabc, name: '正常日志' },
                            { value: @ViewBag.WxabctError, name: '异常日志' }
                        ]
                    }
                ]
            };
            // 为echarts对象加载数据
            pad.setOption(option);
            cvept.setOption(option1);
            wxabc.setOption(option2);
        }
    );
</script>    
}

