
@{
    ViewBag.Title = "总体";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h1 class="page-header">总体</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-6 placeholder">
        <div id="pad" style="height:250px"></div>
        <h4>支付通pad</h4>
    </div>
    <div class="col-xs-6 col-sm-6 placeholder">
        <div id="CVEPT" style="height:250px"></div>
        <h4>转账电话</h4>
    </div>
    <div class="col-xs-6 col-sm-6 placeholder">
        <div id="div3" style="height:250px"></div>
        <h4>管理端</h4>
    </div>
    <div class="col-xs-6 col-sm-6 placeholder">
        <div id="div4" style="height:250px"></div>
        <h4>协议组件</h4>
    </div>
</div>

@section script{
<script src="~/Scripts/dist/echarts.js"></script>
<script type="text/javascript">
    $('#1').addClass('active');
    // 路径配置
    require.config({
        paths: {
            echarts: '../Scripts/dist'
        }
    });
    // 使用
    require(
        [
            'echarts',
            'echarts/chart/pie' // 按需加载
        ],
        function (ec) {
            // 基于准备好的dom，初始化echarts图表
            var pad = ec.init(document.getElementById('pad'));
            var cvept = ec.init(document.getElementById('CVEPT'));
            var div3 = ec.init(document.getElementById('div3'));
            var div4 = ec.init(document.getElementById('div4'));

            var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['正常日志', '异常日志']
                },

                series: [
                    {
                        name: '日志数量',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            }
                        },
                        data: [
                            { value: @ViewBag.PadNormal, name: '正常日志' },
                            { value: @ViewBag.PadError, name: '异常日志' }
                        ]
                    }
                ]
            };

            var option1 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['正常日志', '异常日志']
                },
                series: [
                    {
                        name: '日志数量',
                        type: 'pie',
                        legendHoverLink: false,
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: @ViewBag.Cvept, name: '正常日志' },
                            { value: @ViewBag.CveptError, name: '异常日志' }
                        ]
                    }
                ]
            };

            var option3 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['正常日志', '异常日志']
                },

                series: [
                    {
                        name: '日志数量',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        itemStyle: {
                            normal: {
                                label: {
                                    show: false
                                },
                                labelLine: {
                                    show: false
                                }
                            },
                            emphasis: {
                                label: {
                                    show: true,
                                    position: 'center',
                                    textStyle: {
                                        fontSize: '30',
                                        fontWeight: 'bold'
                                    }
                                }
                            }
                        },
                        data: [
                            { value: @ViewBag.Management, name: '正常日志' },
                            { value: @ViewBag.ManagementError, name: '异常日志' }
                        ]
                    }
                ]
            };
            var option4 = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['正常日志', '异常日志']
                },
                series: [
                    {
                        name: '日志数量',
                        type: 'pie',
                        legendHoverLink: false,
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: [
                            { value: @ViewBag.ProtocolComponent, name: '正常日志' },
                            { value: @ViewBag.ProtocolComponentError, name: '异常日志' }
                        ]
                    }
                ]
            };
            // 为echarts对象加载数据
            pad.setOption(option);
            cvept.setOption(option1);
            div3.setOption(option3);
            div4.setOption(option4);
        }
    );
</script>    
}

